<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.com.tianzmp.dao.TianOrderDao" >
  <resultMap id="BaseResultMap" type="org.com.tianzmp.vo.TianOrderVO" >
  	<id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
	  <result column="status" property="status" jdbcType="BIGINT" />
	  <result column="pay_status" property="payStatus" jdbcType="BIGINT" />
	  <result column="price" property="price" jdbcType="BIGINT" />
	  <result column="pay_type" property="payType" jdbcType="BIGINT" />
	  <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id,user_id,status,pay_status,price,pay_type,order_id,create_time,update_time
  </sql>
  <!--查询单个订单-->
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
  	select 
  		<include refid="Base_Column_List"/>
  	from
	  tian_order
  	where
  		id = #{id}
  </select>

  <!-- 添加单条记录 -->
	<insert id="insert" parameterType="org.com.tianzmp.dto.TianOrderDTO" useGeneratedKeys="true" keyProperty="id">
		insert into tian_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
		    <if test="userId != null" >
				user_id,
		    </if>
		    <if test="status != null" >
				status,
		    </if>
			<if test="payStatus != null" >
				pay_status,
			</if>
			<if test="price != null" >
				price,
			</if>
			<if test="payType != null" >
				pay_type,
			</if>
			<if test="orderId != null" >
				order_id
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		    <if test="userId != null" >
		        #{userId},
		    </if>
		     <if test="status != null" >
		       #{status},
		    </if>
			<if test="payStatus != null" >
				#{payStatus},
			</if>
			<if test="price != null" >
				#{price},
			</if>
			<if test="payType != null" >
				#{payType},
			</if>
			<if test="orderId != null" >
				#{orderId}
			</if>
	    </trim>
	</insert>
	<!--查询用户的所有订单-->
  <select id="selectAll" parameterType="org.com.tianzmp.dto.TianOrderDTO" resultMap="BaseResultMap">
		select 
			<include refid="Base_Column_List"/>
		from
	 	 	tian_order
		 where 1 = 1
		 <if test="userId != null and userId != '' ">
		 	and user_id = #{userId}
		 </if>
	</select>
	<!--修改订单-->
	<update id="update" parameterType="org.com.tianzmp.dto.TianOrderDTO">
		update tian_order
		<set>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="payStatus != null">
				pay_status = #{payStatus},
			</if>
			<if test="price != null">
				price = #{price},
			</if>
			<if test="payType != null">
				pay_type = #{payType}
			</if>
		</set>
		where 1=1 and id = #{id}
	</update>
</mapper>