<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.com.tianzmp.dao.TianUserDao" >
  <resultMap id="BaseResultMap" type="org.com.tianzmp.vo.TianUserVO" >
  	<id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
     <result column="sex" property="sex" jdbcType="INTEGER" />
    
  </resultMap>
  
  	<sql id="Base_Column_List" >
    	id,name, img,phone,open_id,create_time,update_time,sex
  	</sql>
 	<!-- 查询单条数据 -->
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select 
			<include refid="Base_Column_List"/>
		from
			tian_user
		where
			id = #{id}
	</select>
  
  	<!-- 添加单条记录 -->
	<insert id="insert" parameterType="org.com.tianzmp.dto.TianUserDTO" useGeneratedKeys="true" keyProperty="id">
		insert into tian_user
		
		<trim prefix="(" suffix=")" suffixOverrides=",">
		    <if test="name != null" >
		        name,
		    </if>
		    <if test="img != null" >
		        img,
		    </if>
		    <if test="phone != null" >
		        phone,
		    </if>
		    <if test="openId != null" >
		        open_id,
		    </if>
		    <if test="sex != null" >
		        sex
		    </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		    <if test="name != null" >
		        #{name},
		    </if>
		    <if test="img != null" >
		        #{img},
		    </if>
		    <if test="phone != null" >
		        #{phone},
		    </if>
		    <if test="openId != null" >
		        #{openId},
		    </if>
		     <if test="sex != null" >
		        #{sex},
		    </if>
	    </trim>
	</insert>
  	
  	<!-- 查询所有数据 -->
  	<select id="getAll" resultMap="BaseResultMap">
  		select
  			<include refid="Base_Column_List"/>
  		from
  			tian_user
  	</select>
</mapper>