<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.com.tianzmp.dao.ZhumpAddressDao" >
  <resultMap id="BaseResultMap" type="org.com.tianzmp.vo.ZhumpAddressVO" >
  	<id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id,user_id, province,city,address,create_time,update_time
  </sql>
  <!-- 查询单条数据 -->
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select 
			<include refid="Base_Column_List"/>
		from
			zhump_address
		where
			id = #{id}
	</select>
  
  	<!-- 添加单条记录 -->
	<insert id="insert" parameterType="org.com.tianzmp.dto.ZhumpAddressDTO" useGeneratedKeys="true" keyProperty="id">
		insert into zhump_address
		
		<trim prefix="(" suffix=")" suffixOverrides=",">
		    <if test="userId != null" >
		        user_id,
		    </if>
		    <if test="province != null" >
		        province,
		    </if>
		    <if test="city != null" >
		        city,
		    </if>
		    <if test="address != null" >
		        address
		    </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		    
		     <if test="userId != null" >
		        #{userId},
		    </if>
		    <if test="province != null" >
		        #{province},
		    </if>
		    <if test="city != null" >
		        #{city},
		    </if>
		    <if test="address != null" >
		        #{address}
		    </if>
	    </trim>
	</insert>
  	
  	<!-- 修改 -->
	<update id="update"	parameterType="org.com.tianzmp.dto.ZhumpAddressDTO">
		update zhump_address
		<set>
			<if test="province != null">
				province = #{province},
			</if>
			<if test="city != null">
				city = #{city},
			</if>
			<if test="address != null">
				address = #{address}
			</if>
		</set>
		where 1=1 and id = #{id}
	</update>
	<!--查询用户的地址数据-->
	<select id="findByUserAddress" parameterType="org.com.tianzmp.dto.ZhumpAddressDTO" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from
			zhump_address
		 where 1 = 1 and user_id = #{user_id}

	</select>
</mapper>